<div class="single-beer">
  <img src="<%= beer.image_url %>" alt="<%= beer.name %>">
  <div class="card-container">
    <h2><%= beer.name %></h2>
    <p class="tagline"><%= beer.tagline  %></p>
    <p class="description"><%= beer.description %></p>
  </div>
</div>