<img src="<%= randomBeer.image_url  %>" alt="<%= randomBeer.name %>">
<h1><%= randomBeer.name  %></h1>
<h2><%= randomBeer.tagline  %></h2>
<p><%= randomBeer.description  %></p>
<p><%= randomBeer.food_pairing  %></p>