<div class="random-beer-container">
  <img src="<%= randomBeer.image_url  %>" alt="<%= randomBeer.name %>">
  <div class="text-container">
    <h1><%= randomBeer.name  %></h1>
    <p class="tagline"><%= randomBeer.tagline  %></p>
    <p class="description"><%= randomBeer.description  %></p>
    <h3>Food Pairing</h3>
    <ul class="food-pairing">
      <li><%= randomBeer.food_pairing[0]  %></li>
      <li><%= randomBeer.food_pairing[1]  %></li>
      <li><%= randomBeer.food_pairing[2]  %></li>
    </ul>
    <p class="brewers-tips"><strong>Brewers Tips:</strong> <%= randomBeer.brewers_tips  %></p>
  </div>
</div>